body {
  background: linear-gradient(to left, #33ccff 0%, #ffcccc 100%);

  /* background-color: rgb(52, 51, 51); */
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.484);
  margin-top: 20vh;
  border-radius: 5px;
}
form div {
  margin-left: 2vw;
  margin-bottom: 5vh;
}
form input {
  height: 40px;
  width: 25vw;
  border-radius: 5px;
  border-style: solid;
}
